
ion-content {
    margin-bottom: 30px;
      // overwrite inline styles
      --offset-bottom: auto !important;
      --overflow: hidden;
      overflow: auto;
      &::-webkit-scrollbar {
       display: none;
      }
      background: linear-gradient(315deg, #bbf0f3 0%, #f6d285 74%);
  }

ion-card{
    --background:  linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
}

ion-slides {
    --bullet-background: white;
    --bullet-background-active: yellow;
 }

