
  
  ion-tab-button{ 
  --background: #FFD580;
  }
  
  ion-icon{
  color:rgba(0, 0, 0, 0.468);
  }
  
  ion-label{
      font-weight: bold;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color:rgba(0, 0, 0, 0.468);
      }
