ion-header {
    ion-toolbar {
      --background: rgba(0,0,0,0);
    }
  
    .titles {
      position: relative;
      padding: 0 1.2rem;
      h4, h6 {
        margin: 0;
        margin-bottom: 4px;
        color: #ffffff;
        ion-icon {
          vertical-align: middle;
        }
      }
      h4 {
        font-weight: 900;
        font-size: 26px;
      }
      h6 {
        font-weight: 600;
      }
    }
  
    img {
      position: absolute;
      top: -110px;
    }
  }

  
  ion-content {
  
    --background: linear-gradient(315deg, #bbf0f3 0%, #f6d285 74%);
  }
  
    ion-button {
      transform: scale(.8, .8);
      --box-shadow: none;
          --border-radius: 12px;
    }
    
  
  .slides {
    background: linear-gradient(316deg, #5d4604 0%, #591002 74%);

    padding: 4px 10px 20px 10px;
    border-radius: 0 0 28px 28px;
  }