
<ion-content [fullscreen]="true" class="background">

  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button  color="light" defaultHref="welcome"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <!--Banner-->
  <ion-row class="logo">
    <ion-col>
      <ion-buttons slot="start" color="brown">
        <ion-back-button color="brown"></ion-back-button>
      </ion-buttons>
      <ion-img src="assets/logo.png"></ion-img>
      <ion-label>
        <p class="ion-text-left logoLabel" color="lightbrown">Reset Password <ion-icon name="key-sharp"></ion-icon></p>
        <p class="ion-text-left"></p>
      </ion-label>
    </ion-col>
  </ion-row> 
</ion-content>

<ion-footer>
  <ion-list lines="full">
    <ion-list-header class="ion-margin">
      <ion-label>
        <p><ion-text color="dark">Please enter your email address to request a password reset.</ion-text></p>
      </ion-label>
    </ion-list-header>
    <ion-item-group class="ion-margin-horizontal">
      <div class="ion-margin-vertical">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email"  placeholder="Email Address" #passwordResetEmail required><ion-icon name="mail" slot="start" color="medium"></ion-icon></ion-input >
      </ion-item>
    </div>
    <ion-button class="signup-btn" size="large" expand="block" shape="round" (click)="authService.ForgotPassword(passwordResetEmail.value)"><ion-text color="light">Send Link <ion-icon name="send"></ion-icon></ion-text></ion-button>
    </ion-item-group>
  </ion-list>
</ion-footer>
